/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $small-font-size;
  line-height: $base-line-height;
  color: var(--text-color);
  background-color: var(--background);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

@include media-query($on-tablet) {
  body {
    font-size: $base-font-size;
  }
}

button {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 2);
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  margin-bottom: 4rem;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;

  &.sticker {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    border: 6px solid var(--accent-one);
    text-align: center;
    margin: 2rem 0;

  }

}
.image-wrapper {
  position: relative;

  // .background {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   --dotSize: 0.25rem;
  //   --bgSize: 1.35rem;
  //   --bgPosition: calc(var(--bgSize) / 2);
  //   width: 100%;
  //   height: 100%;
  //   background-image: radial-gradient(
  //       circle at center,
  //       black var(--dotSize),
  //       transparent 0
  //     ), radial-gradient(circle at center, black var(--dotSize), transparent 0);
  //   background-size: var(--bgSize) var(--bgSize);
  //   background-position: 0 0, var(--bgPosition) var(--bgPosition);

  // }
}
/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-bold-weight;
  font-family: $header-font-family;
}

:focus {
  outline: 2px solid var(--focus-color);
}

/**
 * Links
 */
a {
  color: var(--link-color);
  text-decoration: 2px underline;
  text-underline-offset: 4px;
  transition: text-decoration 0.2s ease-in-out;

  &:visited {
    color: var(--link-color);
  }

  &:hover,
  &:focus {
    color: var(--link-color);
    text-decoration: 4px underline;
    text-underline-offset: 4px;
  }

  &.action {

    display: inline-flex;
    align-items: center;

    &:hover,
    &:focus {
      transition: all 0.2s ease-in-out;

      svg {
        fill: var(--link-color-hover);
        transition: all 0.2s ease-in-out;
      }
    }

    svg {
      fill: var(--link-color);
      padding-left: 0.5rem;
    }

  }

  .social-media-list &:hover {
    .username {
      text-decoration: underline;
    }
  }

  .page__content & {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: text-decoration-thickness 0.2s ease-in-out;

    &:hover,
    &:focus {
      text-decoration-thickness: 4px;
      transition: all 0.2s ease-in-out;
    }

  }

}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: calc($spacing-unit / 2);
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {

  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: calc( #{$spacing-unit});
  padding-left: calc( #{$spacing-unit});

  @include media-query($on-tablet) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: calc( $spacing-unit * 2 );
    padding-left: calc( $spacing-unit * 2 );
  }

  @include media-query($on-laptop) {
    max-width: calc( var(--content-width--large) - (#{$spacing-unit} * 2) );
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }

}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    fill: var(--background--dark-on-color);
    vertical-align: text-top;
    margin-right: 0.5rem;
}

.social-media-list {

  &__link {
    display: flex;
    align-items: center;

    &, &:hover, &:visited {
      color: var(--footer-link-color);
    }

  }

  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  //color: lighten(var(--text-color), 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding-top: calc($spacing-unit / 3);
    padding-bottom: calc( #{$spacing-unit} / 3);
    padding-left: calc($spacing-unit / 2);
    padding-right: calc($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

.card-list {
  display: grid;
  list-style-type: none;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 3rem;
}

.card {
  background-color: var(--background--light);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: 0.75rem 1rem;
    display: flex;
    font-weight: $base-bold-weight;
    color: var(--accent-one);
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px;
  }

}