/**
 * Site footer
 */
.divider {
    height: 13rem;
    position: relative;
    overflow: hidden;
    width: 100%;

    svg {
        height: auto;
        width: 1600px;
        margin-left: calc( (100vw - 1600px) / 2 );
        position: absolute;
        bottom: 0;
    }

}

@include media-query( $on-desktop ) {

    .divider {
        height: 16rem;
        position: relative;
        overflow: hidden;
        width: 100%;
    
        svg {
            height: auto;
            width: 1920px;
            margin-left: calc((100vw - 1920px) / 2);
            position: absolute;
            bottom: 0;
        }
    
    }
    
}

@include media-query( $huge ) {

    .divider {
        height: 13vw;
        position: relative;
        overflow: hidden;
        width: 100%;
    
        svg {
            height: auto;
            width: 100%;
            margin-left: calc((100vw - 100%) / 2);
            position: absolute;
            bottom: 0;
        }
    
    }
    
}

.site-footer {
    background-color: var(--background--dark);
    padding: $spacing-unit*2 0 0;
}

.footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: calc( #{$spacing-unit} / 2);
    color: white;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-nav {

    margin-bottom: 2rem;

    &__links {
        list-style-type: none;
        margin: 0;
    }

    &__link {
        font-size: 1rem;
        padding: .125rem 0;
        color: var(--footer-link-color);

        &:hover {
            color: var(--footer-link-color);
        }

        &:visited {
            color: var(--footer-link-color);
        }
    }

    &__link-item {
        padding: 0 1rem 0 0;
    }

}

.footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: var(--background--dark-on-color);
    margin-left: calc( -#{$spacing-unit} / 2);

}

@include media-query($on-phone) {

    .footer-nav {
        &__links {
            display: flex;
        }
    }

    .footer-col-wrapper {
        display: flex;
        justify-content: space-between;
    }

}


.footer-col {
    margin-bottom:calc( #{$spacing-unit} / 2);
    padding-left:calc( #{$spacing-unit} / 2);
}

.footer-col-1,
.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

.footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

@include media-query($on-tablet) {

    .footer-col {
        float: left;
    }

    .footer-col-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width:         calc(35% - (#{$spacing-unit} / 2));
    }
    
    .footer-col-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width:         calc(20% - (#{$spacing-unit} / 2));
    }
    
    .footer-col-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width:         calc(45% - (#{$spacing-unit} / 2));
    }

}

#footer-nav-heading {
    color: var(--footer-link-color);
}