/**
 * Site header
 */
.site-header {
    min-height: $spacing-unit * 1.865;
    margin: 1rem 0;
    
    // Positioning context for the mobile navigation icon
    position: relative;
  
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
  
}

@include media-query( $on-tablet ) {

    .site-header {
        .wrapper {
            flex-direction: row;
        }
    }

}

.site-title {

    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: var(--radius);
    background-color: rgb(255 255 255 / 5%);
  
    .theme--light & {
      background-color: var(--background--light);
    }

    svg {
      width: 4rem;
      height: 3.2rem;
    }
  
    &,
    &:visited {
      color: $grey-color-dark;
    }

    span {
        color: var(--background--dark-on-color);
    }

    @include media-query( $on-tablet ) {
        margin-bottom: 0;
    }

}