/**
 * Site header
 */
.site-header {
  border-top: 3px solid #577780;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 500;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  &__links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__link-item {
    display: inline-block;
  }

  &__link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

}

.bypass-link {
  background-color: #fce230;
  color: #1b1c1d;
  font-weight: bold;
  padding: 0.5rem;

  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  display: inline-block;

  &:focus {
    position: static !important;
    width: 15rem !important;
    height: 100% !important;
    margin: 0.5rem !important;
    overflow: visible !important;
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    white-space: inherit !important;
  }

}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  background-color: #f0f9fb;
  padding: $spacing-unit*2 0;

  a {
    color:#0e69df;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: calc( #{$spacing-unit} / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: calc( -#{$spacing-unit} / 2);
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom:calc( #{$spacing-unit} / 2);
  padding-left:calc( #{$spacing-unit} / 2);
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Posts
 */
.post {
  font-size: 1.25rem;
}

.post__header {
  margin-bottom: $spacing-unit;
}

.post__cover {
  margin-top: 4rem;
  width: 100vw;
  max-width: none;
  height: 30rem;
  object-fit: cover;
  margin-bottom: 0rem;
  margin-left: calc((-100vw + 940px) / 2);
  //margin-right: calc((-100vw + 940px) / 2);
}

.post__title {
  @include relative-font-size(4);
  letter-spacing: -1px;
  line-height: 1;
  font-family: $header-font-family;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Post
 */
.post {
  max-width: 75%;
}

.post__header {
  margin-top: 4rem;
}