/**
 * Site header
 */
.site-header {
  border-top: 3px solid var(--accent-two);
  border-bottom: 1px solid var(--border);
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.site-title {
  margin-bottom: 0;

  height: 4rem;
  width: auto;
  padding: 1rem 0;

  svg {
    width: 100%;
    height: 100%;
  }

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.home {
  text-align: center;
  max-width: 100%;
  margin: 2rem auto 0;
}


/**
 * Posts
 */
.post {
  font-size: 1.25rem;
}

.post__header {
  margin-bottom: $spacing-unit;
}

.post__cover {
  margin-top: 4rem;
  width: 100vw;
  max-width: none;
  height: 30rem;
  object-fit: cover;
  margin-bottom: 0rem;
  margin-left: calc((-100vw + 940px) / 2);
  //margin-right: calc((-100vw + 940px) / 2);
}

.post__title {
  @include relative-font-size(4);
  letter-spacing: -1px;
  line-height: 1;
  font-family: $header-font-family;
  font-weight: 700;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Post
 */
.post {
  max-width: 75%;
}

.post__header {
  margin-top: 4rem;
}

/**
 * Page
 */
.page__content {
  max-width: 75%;
}