@use "../_settings" as *;

.post-list {
    margin-top: 4rem;
}

.post-list__items {
    list-style-type: none;
    margin: 0;
}

.post-list__item {
    width: 100%;
    max-width: 100%;
    position: relative;
    border: 2px solid transparent;
}

@media (forced-colors: active) {
    .post-list__item {
        border: 2px solid currentColor;
    }
}

