@use "../_settings" as *;

.post--card {
    background-color: var(--background--light);
    margin-bottom: 2rem;
    border-radius: var(--radius--large);

    .post__title {
        font-size: 2rem;
        letter-spacing: 0;
        font-weight: $base-bold-weight;
        margin-bottom: 0;
        padding: 0 1.5rem 1.5rem;
    }

    .post__teaser {
        color: var(--text-color-light);
        padding: 0 1.5rem 1.5rem;
        font-size: 1rem;
    }

    .post__link {
        display: block;
        border-radius: var(--radius--large);
        color: var(--text-color-emphasis);
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 3px;
    }

    .post__link:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;

        border-radius: var(--radius--large);
        outline: 0.125rem solid var(--border);
    }
    
    .post__link:focus {
        outline: 0;
    }
    
    .post__link:hover {
        text-decoration-thickness: 4px;
    }

    .post__link:focus:before {
        outline: 0.25rem solid var(--focus-color);
    }

    .post__link:hover:before {
        border-radius: var(--radius--large);
        outline: 0.25rem solid var(--focus-color);
    }

    .post__meta {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1.5rem 1rem;
        color: var(--accent-two);
        text-transform: capitalize;
        font-weight: $base-medium-weight;
        font-size: .875rem;
    }
    
}

.post__categories {
    .post__category {
        margin: 0 1rem 0.25rem 0;
    }
}

.theme--light {
    .post--card {
        
        .post__title {
            color:var(--link-color);
        }
        
        .post__meta {
            color: var(--text-color-dark-grey);
        }
        
        .post__teaser {
            color: var(--text-color-grey);
        }
        
        .post__link {
            color: var(--link-color);
        }
    }
}

@include media-query( $on-phone ) {

    .post--card {

        .post__title {
            font-size: 2rem;
            padding: 0 2rem 2rem;
        }

        .post__meta {
            padding: 2rem 2rem 1rem;
        }

        .post__link {
            text-decoration-thickness: 4px;
            text-underline-offset: 4px;
        }

        .post__link:hover {
            text-decoration-thickness: 6px;
        }

        .post__teaser {
            padding: 0 2rem 2rem;
        }

    }

}

@include media-query( $on-tablet ) {

    .post--card {

        .post__meta {
            font-size: 1rem;
        }

        .post__title {
            font-size: 3rem;
        }

        .post__teaser {
            font-size: 1.25rem;
        }

    }

}