.post-list {
    margin-top: 4rem;
}

.post-list__heading {}

.post-list__items {
    list-style-type: none;
    margin: 0;
}

.post-list__item {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.post__title {
    font-size: 4rem;
    letter-spacing: 0;
    color: var(--text-color);
    font-weight: 700;
}

.post__link {

    padding: 0 2rem 2rem;
    display: block;
    border-radius: var(--radius--large);

    &:hover,
    &:focus {
        text-decoration: none;
    }

}

.post__categories {
    span {
        margin: 0 1rem 0.25rem 0;
    }
}

.post__teaser {
    color: var(--text-color);
    font-size: 1rem;
}

@include media-query($on-tablet) {
    .post__teaser {
        font-size: 1.25rem;
    }
}