.post-list {
    margin-top: 4rem;
}

.post-list__heading {}

.post-list__items {
    list-style-type: none;
    margin: 0;
}

.post-list__item {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.post--card {
    background-color: var(--background--light);
    margin-bottom: 2rem;
    border-radius: var(--radius--large);

    .post__title {
        font-size: 2rem;
        letter-spacing: 0;
        color: var(--text-color);
        font-weight: 700;
    }

}

.post__title {
    font-size: 4rem;
    letter-spacing: 0;
    color: var(--text-color);
    font-weight: 700;
}

.post__link {

    padding: 0 2rem 2rem;
    display: block;
    border-radius: var(--radius--large);

    &:hover,
    &:focus {
        text-decoration: none;
    }

}

.post__link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
}

.post__link:focus {
    outline: 0;
}

.post__link:focus:before {
    border-radius: var(--radius--large);
    outline: 2px solid var(--focus-color);
}

.post__meta {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
}

.post__meta {
    color: var(--text-color-light);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.post__categories {
    span {
        margin: 0 1rem 0.25rem 0;
    }
}

.post__teaser {
    color: var(--text-color);
    font-size: 1rem;
}

@include media-query($on-tablet) {
    .post__teaser {
        font-size: 1.25rem;
    }
}