@use "../_settings" as *;

.social-media-list a:hover {
    .username {
        text-decoration: underline;
    }
}

.social-media-list {

    &__link {
        display: inline-flex;
        align-items: center;
        transition: var(--transition);

        .username {
            text-decoration: underline;
            text-decoration-thickness: 0.125rem;
            text-underline-offset: 0.125rem;
            transition: var(--transition);
        }

        &, &:visited {
            color: var(--footer-link-color);
        }

        &:hover {
            color: var(--footer-link-color--hover);
            
            .username {
                text-decoration-thickness: 0.25rem;
            }

        }

        &:focus {
            .svg-icon {
                fill: var(--focus-on-color);
            }
        }

    }

    li + li {
        padding-top: 0.25rem;
    }
}
  