@use "../_settings" as *;

.site-nav__control {
    width: 100%;
    position: relative;
}

@include media-query($on-phone) {
    .site-nav__control {
        margin-left: 1rem;
    }
}

.site-theme-switcher__options {
    display: none;
    position: absolute;
    top: calc( 100% + 0.5rem );
    width: 100%;
    background: hsl(227, 33%, 11%);
    border-radius: var(--radius);
    overflow: hidden;
    border: 1px solid var(--border);
    box-shadow: 2px 5px 10px rgb( 0 0 0 / 4%);


    .theme--light & {
        background: hsl(27, 100%, 98%);
    }

    &--active {
        display: block;
        list-style-type: none;
        margin: 0;  
    }

    li {
        line-height: normal;
    }

    button {
        appearance: none;
        border: 0;
        font-size: .9rem;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0.75rem 1rem;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        color: var(--text-color);
        outline-offset: -4px;
        
        .theme--light & {
            color: var(--accent-two-on-color);
            
            svg {
                stroke: var(--accent-two-on-color);
            }
            
            // [aria-current="true"] {
            //     fill: var(--accent-two-on-color);
            // }
        
        }

        &:hover,
        &:focus {
            background-color: rgb( 255 255 255 / 5% )
        }

        svg {
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 0.5rem;
            stroke: rgb(79 81 92);
            fill: none;
            stroke-width: 2px;
        }

        // &[aria-current="true"] {
        //     svg {
        //         fill: rgb(79 81 92);
        //     }
        // }

    }

}

.site-theme-switcher__toggle {

    appearance: none;
    border: 0;
    background-color: rgb( 255 255 255 / 5%);
    border-radius: var(--radius);
    color: var(--text-color-light);
    font-size: .875rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .1s all ease-in-out;

    svg {
        width: 1.25rem;
        height: 1.25rem;
        stroke: var(--text-color-light);
        fill: var(--text-color-light);
        stroke-width: 2px;
        margin-right: 0.5rem;
        transition: .1s all ease-in-out;
    }

    &:hover {
        color: var(--text-color);
        background-color: rgb( 255 255 255 / 10%);
    
        svg {
            stroke: var(--text-color);
            fill: var(--text-color);
        }

    }

    .theme--light & {

        background-color: var(--background--light);
        color: var(--accent-one-on-color);

        svg {
            stroke: var(--text-color);
            fill: var(--text-color);
        }


        &:hover {
            color: var(--text-color-emphasis);
            background-color: var(--background--medium);
        
            svg {
                stroke: var(--text-color-emphasis);
                fill: var(--text-color-emphasis);
            }

        }

    }

    &--active {

        background-color: var(--accent-two);
        color: var(--background);

        &:hover {
            background-color: var(--accent-two);
            color: var(--background);

            svg {
                fill: var(--accent-two-on-color);
                stroke: var(--accent-two-on-color);
            }

        }

        svg {
            fill: var(--accent-two-on-color);
            stroke: var(--accent-two-on-color);
        }

        .theme--light & {
            background-color: var(--accent-two);
            color: var(--accent-one-on-color);
            svg {
                stroke: var(--accent-one-on-color);
                fill: var(--accent-one-on-color);
            }
        } 

    }

}

@include media-query( $on-tablet ) {

    .site-theme-switcher__toggle {

        font-size: 1rem;

    }

}

@media (forced-colors: active) {

    .site-theme-switcher__toggle {
        border: 2px solid ButtonBorder;

        svg {
            fill: ButtonFace;
            stroke: ButtonBorder;
        }

    }

    .site-theme-switcher__toggle--active { 

        svg {
            fill: ButtonText;
            stroke: ButtonBorder;
        }

    }

}