.site-nav__control {
    width: 100%;
    position: relative;
    margin-left: 1rem;
}

.site-theme-switcher__options {
    display: none;
    position: absolute;
    top: calc( 100% + 0.5rem );
    width: 100%;
    background: rgb( 255 255 255 / 5%);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border);
    box-shadow: 2px 5px 10px rgb( 0 0 0 / 4%);

    &--active {
        display: block;
        list-style-type: none;
        margin: 0;  
    }

    li {
        line-height: normal;
    }

    button {
        appearance: none;
        border: 0;
        font-size: .9rem;
        display: block;
        width: 100%;
        text-align: left;
        padding: 0.75rem 1rem;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        color: white;
        outline-offset: -2px;
        
        .theme--light & {
            color: var(--accent-two-on-color);
            svg {
                stroke: var(--accent-two-on-color);
            }
        }

        &:hover,
        &:focus {
            background-color: rgb( 255 255 255 / 5% )
        }

        svg {
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 0.5rem;
            stroke: rgb( 255 255 255 / 25%);
            fill: none;
            stroke-width: 2px;
        }

    }

}

.site-theme-switcher__toggle {

    appearance: none;
    border: 0;
    background-color: rgb( 255 255 255 / 5%);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    .theme--light & {
        background-color: var(--background--light);
        color: var(--accent-one-on-color);
        svg {
            stroke: var(--accent-one-on-color);
            fill: var(--accent-one-on-color);
        }
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
        stroke: white;
        stroke-width: 2px;
        margin-right: 0.5rem;
    }

    &--active {

        background-color: var(--accent-two);
        color: var(--background);

        svg {
            fill: var(--accent-two-on-color);
            stroke: var(--accent-two-on-color);
        }

        .theme--light & {
            background-color: var(--accent-two);
            color: var(--accent-one-on-color);
            svg {
                stroke: var(--accent-one-on-color);
                fill: var(--accent-one-on-color);
            }
        } 

    }

}