---
layout: default
---

<div class="page page--blog">
  {%- if page.title -%}
  <div class="page__header">
    <h1 class="page__title">{{ page.title }}</h1>
  </div>
  {%- endif -%}
  <div class="page__content">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
    <section class="post-list">
      <ul class="post-list__items">
        {%- for post in paginator.posts -%}
          {% include post-card.html post=post %}
        {%- endfor -%}
      </ul>
    </section>
  {%- endif -%}

  {% if paginator.total_pages > 1 %}
    <nav aria-labelledby="pagination-label">
      <h2 id="pagination-label" class="heading--small">Blog page navigation</h2>
      <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="pagination__item pagination__item--newer">
          <a class="pagination__link"  href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="pagination__item pagination__item--newer">
          <a class="pagination__link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older posts</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
