---
layout: default
---

<div class="blog page">
  {%- if page.title -%}
  <div class="page__header">
    <h1 class="page__title">{{ page.title }}</h1>
  </div>
  {%- endif -%}
  <div class="page__content">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
    <section class="post-list">
      <ul class="post-list__items">
        {%- for post in site.posts -%}
        <li class="post-list__item post post--card">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <div class="post__meta">
            {%- if post.categories -%}
              <div class="post__categories">
                {%- for category in post.categories -%}
                  <span>{{category}}</span>
                {%- endfor -%}
              </div>
            {%- endif -%}
            <div class="post__date">{{ post.date | date: date_format }}</div>
          </div>
          <a class="post__link" aria-labelledby="post-{{post.id}}" href="{{ post.url | relative_url }}">
            <h2 class="post__title" id="post-{{post.id}}">{{ post.title | escape }}</h2>
            {%- if post.custom-excerpt != '' -%}
              <p class="post__teaser" id="post-teaser-{{post.id}}">{{ post.custom-excerpt }}</p>
            {%- endif -%}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </section>
  {%- endif -%}
  {% if paginator.total_pages > 1 %}
  <ul>
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
