---
layout: default
---
<div class="blog page">
    {%- if page.title -%}
    <div class="page__header page__header--group">
      <span class="page__caption">Posts with a category of</span>
      <h1 class="page__title">{{ page.title }}</h1>
    </div>
    {%- endif -%}

    {% assign content_stripped = page.content | strip_newlines | strip %}
    {% if content_stripped != "" and content_stripped != nil %}
      <div class="page__content">
        {{ page.content }}
      </div>
    {%- endif -%}

    {%- if paginator.posts.size > 0 -%}
      <section class="post-list">
        <ul class="post-list__items">
          {%- for post in paginator.posts -%}
            {% include post-card.html post=post %}
          {%- endfor -%}
        </ul>
      </section>

  {% if paginator.total_pages > 1 %}
    <nav aria-label="Article pages">
      <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="pagination__item pagination__item--newer">
          <a class="pagination__link"  href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer articles</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="pagination__item pagination__item--newer">
          <a class="pagination__link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older articles</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

    {%- endif -%}